@import 'global_styles';

.rack-label-small {
  display: flex;
  background-color: white;
  height: 35mm;
  width: 105mm;
  border-bottom: none;
  padding: 1mm 2mm;

  .text {
    font-size: 9pt;
    font-weight: 400;
  }

  .section_ {
    &left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: 1mm solid black;
      padding: 1mm 2mm;
      height: 100%;
      width: 50%;

      .text_family {
        font-weight: 900;
        font-size: large;
        text-transform: uppercase;
      }

      .text_info {
        display: flex;
        gap: 1em;
      }

      .qr-and-code {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;

        .qr {
          background-color: black;
          height: 15mm;
          width: 15mm;
          //overflow: hidden;
        }

        .code {
          background-color: black;
          color: white;
          padding: 1mm;
        }
      }
    }

    &right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      width: 50%;
      height: 100%;
      border-right: 1mm solid black;
      padding: 1mm 2mm;

      .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15mm;
        img {
          width: 5mm;
          filter: grayscale(100%);
        }
        .text_logo {
          font-size: 5pt;
          font-weight: 700;
          text-align: center;
        }
      }

      .price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 150px;
        height: 50px;

        .text_price {
          font-weight: 900;
          font-size: 26pt;
          line-height: 1;
          white-space: nowrap;
        }
      }
    }
  }
}
