<div class="rack-label-small">
	<div class="section_left">
		<p class="text text_family">{{ familyName || 'Taggenger' }}</p>
		<p class="text text_description">
			{{ shortDescription || 'Your friendly Picacódigo' }}
		</p>
		<p class="text text_info">
			<span class="text text_size">{{ size || 'Junior' }}</span>
			<span class="text_color">{{ flavor || 'React fanboy' }}</span>
		</p>
		<div class="qr-and-code">
			<div class="qr">
				<qrcode [qrdata]="qrText || 'Nothing to see'" [width]="60" [errorCorrectionLevel]="'M'"
					[allowEmptyString]="true"></qrcode>
			</div>
			<div class="code">
				<p>746.63N.63R</p>
			</div>
		</div>
	</div>
	<div class="section_right">
		<div class="logo">
			<img src="*" alt="logo" />
			<p class="text text_logo">
				Nothing ©️ <br />
				is real
			</p>
		</div>
		<div class="price">
			<p id="priceText" class="text text_price">
				<span>{{ price || '2' }}</span>
				<span class="currency">{{ currency || '🍫' }}</span>
			</p>
		</div>
	</div>
</div>