@import 'global_styles';

.page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tag-form {
	display: flex;
	flex-direction: column;
	margin: 2rem 0;
	width: 500px;
	max-width: 500px;

	@media (max-width: 1000px ) {
		width: 85dvw;
		max-width: 85dvw;
	}

	fieldset {
		display: flex;
		margin-bottom: 10px;
		background-color: $main-color-contrast;
		border: none;
		border-radius: 15px;
		padding: 1em;
		width: 100%;

		legend {
			text-transform: uppercase;
			font-weight: 900;
			font-size: 9pt;
			color: $main-color;
		}

		input {
			border-radius: 10px;
			border: none;
			padding: 0 1em;

			&.input_large {
				width: 100%;
			}
		}

		&.input_double {
			gap: 1rem;

			.imput_half {
				width: 100px;
			}
		}

		.product-size {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
			height: 50px;
			width: 200px;
			min-width: 75px;
			gap: 10px;
			font-size: 10pt;

			>* {
				display: flex;
				gap: 0.5em;
			}
		}
	}

	.btn_cta {
		margin-top: 20px;
		height: 2em;

		background-color: $main-color-light;
		color: $main-color-contrast;

		border-style: solid;
		border-width: 2px;
		border-color: $main-color-light;
		border-radius: 15px;

		&:hover {
			color: $main-color;
			background-color: $main-color-contrast;
		}
	}
}

.preview-room {
	display: flex;
	justify-content: center;
	background-color: $main-color-contrast;
	border: 2px $main-color solid;
	border-radius: 10px;
	padding: 2em;
	width: 500px;


	@media (max-width: 1000px ) {
		width: 85dvw;
	}
}