$main-color: rgb(12, 68, 114);
$main-color-light: rgb(67, 116, 156);
$main-color-contrast: aliceblue;
$tag-color-price-bti-box: rgb(248, 224, 7);
//$tag-color-price-bti-border: color-Mix( in srgb, $tag-color-price-bti-box, rgb(255, 102, 0));
$tag-color-price-bti-border: rgb(252, 198, 24);

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

h1 {
	text-transform: uppercase;
	font-weight: 900;
	color: $main-color;
	text-align: center;
	margin-top: 20px;
}

.tooltip {
	position: absolute;
	background-color: $main-color-light;
	color: $main-color-contrast;
	padding: 0 1em;
	border-radius: 10px;
	font-size: 10pt;
	z-index: 3;
	filter: drop-shadow(0 0 0.75em rgb(20, 123, 220)) opacity(50%);
}